name: 'Terraform Shared Setup'
description: 'Authenticates with GCP and sets up Terraform'

runs:
  using: "composite"
  steps:
    # REMOVED: Checkout Project Repo (Now handled in cd.yml)

    - name: Google Auth
      uses: 'google-github-actions/auth@v2'
      with:
        workload_identity_provider: ${{ vars.WIF_PROVIDER }}
        service_account: ${{ vars.CD_SA_EMAIL }}

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3